<p>
  <ng-container i18n="@@apps.add.uri.desc1">Provide a URI that points to the location of the properties file.</ng-container>
  <br />
  <ng-container i18n="@@apps.add.uri.desc2">
  This properties file is formatted so that the keys represent the type and the name of the application, e.g. type.name.
  The property values are the URIs of the app.
  </ng-container>
</p>

<form role="form" (ngSubmit)="submit()" clrForm [formGroup]="form" clrLayout="horizontal" clrLabelSize="2">
  <clr-input-container>
    <label class="clr-col-1" i18n="@@apps.add.uri.form.uri">URI</label>
    <input
      clrInput
      name="uri"
      id="uriInput"
      formControlName="uri"
      [dataflowFocus]="true"
      class="clr-col-6"
      style="width: 100%"
      placeholder="https://url.to.properties"
    />
    <clr-control-helper> <ng-container i18n="@@apps.add.uri.form.uri.helper1">e.g.:</ng-container> <code i18n="@@apps.add.uri.form.uri.helper2"> https://dataflow.spring.io/kafka-maven-latest</code> </clr-control-helper>
    <clr-control-error i18n="@@apps.add.uri.form.uri.error"> Please provide a valid URI pointing to the respective properties file. </clr-control-error>
  </clr-input-container>
  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input id="forceInput" formControlName="force" type="checkbox" clrCheckbox value="false" name="force" />
      <label i18n="@@apps.add.uri.form.force">Force, the applications will be imported and installed even if it already exists but only if not being used
        already.</label
      >
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <div class="clr-accordion-footer">
    <button class="btn btn-secondary" type="button" (click)="back()" i18n="@@modal.cancel">Cancel</button>
    <button class="btn btn-primary" type="submit" i18n="@@apps.add.uri.form.submit">Import Application(s)</button>
  </div>
</form>
<clr-modal [(clrModalOpen)]="isImporting" *ngIf="isImporting" clrModalClosable="false" clrModalSize="md">
  <h3 class="modal-title" i18n="@@apps.add.uri.modal.title">Import application(s)</h3>
  <div class="modal-body">
    <div><clr-spinner clrInline clrSmall></clr-spinner>&nbsp; <ng-container i18n="@@apps.add.uri.modal.registering">Importing application(s)...</ng-container></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" [disabled]="true" i18n="@@modal.cancel">Cancel</button>
    </div>
  </div>
</clr-modal>
