<form clrForm (submit)="submit()">
  <p i18n="@@apps.add.starter.desc">
    Use predefined application-URIs (for either maven or docker) for all the out-of-the-box stream and task/batch apps.
  </p>
  <clr-radio-container>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="stream.kafka.maven" name="type" />
      <label i18n="@@apps.add.starter.form.type.kafka_maven">Stream application starters for Kafka/Maven</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="stream.kafka.docker" name="type" />
      <label i18n="@@apps.add.starter.form.type.kafka_docker">Stream application starters for Kafka/Docker</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="stream.rabbitmq.maven" name="type" />
      <label i18n="@@apps.add.starter.form.type.rmq_maven">Stream application starters for RabbitMQ/Maven</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="stream.rabbitmq.docker" name="type" />
      <label i18n="@@apps.add.starter.form.type.rmq_docker">Stream application starters for RabbitMQ/Docker</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="task.maven" name="type" />
      <label i18n="@@apps.add.starter.form.type.task_maven">Task application starters for Maven</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="task.docker" name="type" />
      <label i18n="@@apps.add.starter.form.type.task_docker">Task application starters for Docker</label>
    </clr-radio-wrapper>
  </clr-radio-container>
  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input [(ngModel)]="force" type="checkbox" clrCheckbox value="false" name="force" />
      <label i18n="@@apps.add.starter.form.force">Force, the applications will be imported and installed even if it already exists but only if not being used
        already.</label
      >
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <div class="clr-accordion-footer">
    <button class="btn btn-secondary" type="button" (click)="back()" i18n="@@modal.cancel">Cancel</button>
    <button class="btn btn-primary" type="submit" i18n="@@apps.add.starter.form.submit">Import Application(s)</button>
  </div>
</form>

<clr-modal [(clrModalOpen)]="isImporting" *ngIf="isImporting" clrModalClosable="false" clrModalSize="md">
  <h3 class="modal-title" i18n="@@apps.add.starter.modal.title">Import application(s)</h3>
  <div class="modal-body">
    <div><clr-spinner clrInline clrSmall></clr-spinner>&nbsp; <ng-container i18n="@@apps.add.starter.modal.registering">Importing application(s)...</ng-container></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" [disabled]="true" i18n="@@modal.cancel">Cancel</button>
    </div>
  </div>
</clr-modal>
