<h1 i18n="@@streams.create.title">Create stream(s)</h1>

<app-stream-flo-create #flo></app-stream-flo-create>

<button class="btn btn-secondary" type="button" (click)="back()" i18n="@@modal.cancel">Cancel</button>
<button class="btn btn-primary" type="button" (click)="createStream()" i18n="@@streams.create.confirm">Create stream(s)</button>

<clr-modal [(clrModalOpen)]="isOpen" *ngIf="isOpen" [clrModalClosable]="!progressData" clrModalSize="lg">
  <h3 class="modal-title" *ngIf="!progressData" i18n="@@streams.create.modal.title1">Create Stream(s)</h3>
  <h3 class="modal-title" *ngIf="progressData" i18n="@@streams.create.modal.title2">Creating Stream(s)...</h3>
  <div *ngIf="progressData" class="modal-body">
    <div>
      <div class="progress-static labeled">
        <clr-progress-bar [clrValue]="progressData.percent" clrMax="100" clrSuccess clrLabeled></clr-progress-bar>
      </div>
      {{ operationRunning }}
    </div>
  </div>

  <div class="modal-body" *ngIf="!progressData">
    <form clrForm clrLayout="horizontal" (submit)="submit()" [formGroup]="form" clrLabelSize="4">
      <div *ngIf="errors && errors.length > 0" class="alert alert-error">
        <div *ngFor="let error of errors">• {{ error }}</div>
      </div>
      <div style="margin-bottom: 0.8rem">
        <ng-container i18n="@@streams.create.modal.text1">This action will create the following</ng-container>&nbsp;
        <strong i18n="@@streams.create.modal.text2">stream(s)</strong><ng-container i18n="@@streams.create.modal.text3">:</ng-container>
      </div>
      <div class="alert alert-danger" *ngIf="form.hasError('uniqueStreamNames')">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text" i18n="@@streams.create.modal.name.error">Duplicate stream name, please check input names.</div>
          </div>
        </div>
      </div>
      <div *ngFor="let def of getStreams(); let i = index" class="card" style="padding: 10px 0">
        <div class="card-block">
          <div class="clr-form-control clr-row" style="margin-top: 0; max-height: 16px">
            <label class="clr-control-label clr-col-12 clr-col-md-2" i18n="@@streams.create.modal.form.definition">Definition</label>
            <div class="clr-control-container form-control input-sm clr-col-md-10 clr-col-12">
              <!--                <app-stream-dsl>{{def.def | truncate: 90}}</app-stream-dsl>-->
              <span class="dsl-text dsl-truncate">{{ def.def }}</span>
            </div>
          </div>

          <div class="form-group clr-form-control clr-row">
            <label class="clr-control-label clr-col-12 clr-col-md-2" i18n="@@streams.create.modal.form.name">Name</label>
            <div
              class="clr-control-container clr-error clr-col-md-10 clr-col-12"
              [class]="{'clr-error': getControl(def.index.toString()).errors}"
            >
              <div class="clr-input-wrapper">
                <input
                  type="text"
                  placeholder="Stream Name"
                  i18n-placeholder="@@streams.create.modal.form.name.placeholder"
                  maxlength="255"
                  [name]="def.index.toString()"
                  [formControlName]="def.index.toString()"
                  [dataflowFocus]="i === 0"
                  [ngModel]="def.name"
                  (ngModelChange)="changeStreamName(def.index, $event)"
                  style="width: 360px"
                  name="{{ def.index.toString() }}"
                  class="clr-input"
                  aria-describedby="0-error"
                />
              </div>
              <div
                class="clr-subtext"
                *ngIf="getControl(def.index.toString()).errors && getControl(def.index.toString()).errors.required"
                i18n="@@streams.create.modal.form.name.error.required"
              >
                Stream name is required!
              </div>
              <div
                class="clr-subtext"
                *ngIf=" getControl(def.index.toString()).errors && getControl(def.index.toString()).errors.uniqueResource"
                i18n="@@streams.create.modal.form.name.error.unique"
              >
                Stream name is already taken!
              </div>
              <div
                class="clr-subtext"
                *ngIf="getControl(def.index.toString()).errors && getControl(def.index.toString()).errors.pattern"
                i18n="@@streams.create.modal.form.name.error.pattern"
              >
                Invalid stream name!
              </div>
              <div
                class="clr-subtext"
                *ngIf="getControl(def.index.toString()).errors && getControl(def.index.toString()).errors.maxlength"
                i18n="@@streams.create.modal.form.name.error.max_length"
              >
                Stream name must be less than 255 characters long!
              </div>
            </div>
          </div>

          <clr-control-container class="form-group">
            <label [for]="def.index.toString() + '_desc'" class="clr-col-12 clr-col-md-2" i18n="@@streams.create.modal.form.description">Description</label>
            <input
              [id]="def.index.toString() + '_desc'"
              [name]="def.index.toString() + '_desc'"
              [formControlName]="def.index.toString() + '_desc'"
              clrControl
              [ngModel]="def.description"
              (ngModelChange)="changeStreamDescription(def.index, $event)"
              placeholder="Stream Description"
              i18n-placeholder="@@streams.create.modal.form.description.placeholder"
              maxlength="255"
              style="width: 560px"
            />
            <clr-control-error *clrIfError="'maxlength'" i18n="@@streams.create.modal.form.description.error">
              Stream description must be less than 255 characters long!
            </clr-control-error>
          </clr-control-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="cancel()" [disabled]="progressData" i18n="@@modal.cancel">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="progressData || !canSubmit()" i18n="@@streams.create.submit">
      Create the stream(s)
    </button>
  </div>
</clr-modal>
