<h1>
  <ng-container i18n="@@schedules.detail.title">Schedule</ng-container>&nbsp;<strong>{{ schedule?.name }}</strong>
</h1>

<div class="datagrid-action-bar">
  <button type="button" class="btn btn-sm btn-secondary" (click)="detailsTask()" i18n="@@schedules.detail.task_detail">Task details</button>
  <button type="button" class="btn btn-sm btn-outline-danger" (click)="destroy()" i18n="@@schedules.detail.delete">Delete schedule</button>
</div>

<div *ngIf="!isLoading">
  <div class="clr-row">
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card titleModal="Information" i18n-titleModal="@@schedules.detail.card.info.title" keyContext="schedule" name="{{ schedule.name }}" id="info">
        <ng-template>
          <div class="block card-block-keyvalue">
            <div class="row">
              <div class="key" i18n="@@schedules.detail.card.info.name">Name</div>
              <div class="value">{{ schedule.name }}</div>
            </div>
            <div class="row">
              <div class="key" i18n="@@schedules.detail.card.info.task_name">Task name</div>
              <div class="value">
                <a [routerLink]="'/tasks-jobs/tasks/' + schedule.taskName">{{ schedule.taskName }}</a>
              </div>
            </div>
            <div class="row">
              <div class="key" i18n="@@schedules.detail.card.info.platform">Platform</div>
              <div class="value">{{ schedule.platform || 'N/A' }}</div>
            </div>
            <div class="row">
              <div class="key" i18n="@@schedules.detail.card.info.cron">Cron Expr.</div>
              <div class="value">{{ schedule.cronExpression || 'N/A' }}</div>
            </div>
          </div>
        </ng-template>
      </app-view-card>
    </div>

    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card titleModal="Task Information" i18n-titleModal="@@schedules.detail.card.task_info.title" keyContext="schedule" name="{{ schedule.name }}" id="task">
        <ng-template>
          <div class="block card-block-keyvalue">
            <div class="row">
              <div class="key" i18n="@@schedules.detail.card.task_info.name">Name</div>
              <div class="value">
                <a [routerLink]="'/tasks-jobs/tasks/' + task.name">{{ task.name }}</a>
              </div>
            </div>
            <div class="row">
              <div class="key" i18n="@@schedules.detail.card.task_info.definition">Definition</div>
              <div class="value">
                <span class="dsl-text">{{ task.dslText }}</span>
              </div>
            </div>
            <div class="row">
              <div class="key" i18n="@@schedules.detail.card.task_info.status">Status</div>
              <div class="value">
                <span class="{{ task.labelStatusClass() }}">{{ task.status }}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </app-view-card>
    </div>
  </div>
</div>

<div *ngIf="isLoading" style="padding: 1rem 0">
  <clr-spinner clrInline clrSmall></clr-spinner>
  <ng-container i18n="@@schedules.detail.loading">Loading schedule...</ng-container>
</div>

<app-schedule-destroy #destroyModal (onDestroyed)="back()"></app-schedule-destroy>
