<h1 i18n="@@jobs.title">Jobs executions</h1>
<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" *ngIf="isInit" #datagrid>
  <clr-dg-action-bar>
    <button type="button" class="btn btn-sm btn-secondary" (click)="refresh(state)" i18n="@@jobs.refresh">Refresh</button>
  </clr-dg-action-bar>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeId', $event)"
    [style.width.px]="context.sizeId | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container i18n="@@jobs.col.exec_id"> Execution Id </ng-container>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeName', $event)"
    [style.width.px]="context.sizeName | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container i18n="@@jobs.col.name"> Name </ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeTaskId', $event)"
    [style.width.px]="context.sizeTaskId | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container i18n="@@jobs.col.task_id"> Task Id </ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeInstanceId', $event)"
    [style.width.px]="context.sizeInstanceId | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container i18n="@@jobs.col.inst_id"> Instance Id </ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeStart', $event)"
    [style.width.px]="context.sizeStart | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container i18n="@@jobs.col.start_time"> Job Start Time </ng-container>
    <clr-dg-filter [clrDgFilter]="dateFilter">
      <app-clr-datagrid-date-filter property="dates" [value]="context.dates" #dateFilter>
      </app-clr-datagrid-date-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeStepCount', $event)"
    [style.width.px]="context.sizeStepCount | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container i18n="@@jobs.col.step_exec_count"> Step Execution Count </ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeStatus', $event)"
    [style.width.px]="context.sizeStatus | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container i18n="@@jobs.col.status"> Status </ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-row *ngFor="let execution of page?.items" [clrDgItem]="execution">
    <clr-dg-cell>
      <a routerLink="/tasks-jobs/job-executions/{{ execution.jobExecutionId }}">{{ execution.jobExecutionId }}</a>
    </clr-dg-cell>
    <clr-dg-cell>
      <a routerLink="/tasks-jobs/job-executions/{{ execution.jobExecutionId }}">{{ execution.name }}</a>
    </clr-dg-cell>
    <clr-dg-cell>{{ execution.taskExecutionId }}</clr-dg-cell>
    <clr-dg-cell>{{ execution.jobInstanceId }}</clr-dg-cell>
    <clr-dg-cell>{{ execution.startTime | datetime }}</clr-dg-cell>
    <clr-dg-cell>{{ execution.stepExecutionCount }}</clr-dg-cell>
    <clr-dg-cell
      ><span class="{{ execution.labelStatusClass() }}">{{ execution.status }}</span></clr-dg-cell
    >
    <clr-dg-action-overflow>
      <button class="action-item" (click)="details(execution)" i18n="@@jobs.row.detail">Details</button>
      <button
        class="action-item"
        (click)="restart(execution)"
        [disabled]="execution.status !== 'FAILED' && execution.status !== 'STOPPED' && execution.status !== 'ERROR'"
        i18n="@@jobs.row.restart"
      >
        Restart
      </button>
      <button
        class="action-item"
        (click)="stop(execution)"
        [disabled]="execution.status === 'FAILED' || execution.status === 'ERROR' || execution.status === 'COMPLETED'"
        i18n="@@jobs.row.stop"
      >
        Stop
      </button>
      <button class="action-item" grafanaDashboardJobExecution [jobExecution]="execution" i18n="@@grafana.dashboard">Grafana Dashboard</button>
    </clr-dg-action-overflow>
  </clr-dg-row>
  <clr-dg-placeholder i18n="@@jobs.no_result">No results found.</clr-dg-placeholder>
  <clr-dg-footer>
    <clr-dg-pagination
      #pagination
      [clrDgTotalItems]="page?.total"
      [clrDgPageSize]="context.size"
      [clrDgPage]="context.current"
    >
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
        <ng-container i18n="@@jobs.pager.title1">Job executions</ng-container>&nbsp;
        <ng-container i18n="@@pager.per">per page</ng-container>
      </clr-dg-page-size>
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ page?.total }}&nbsp;
      <ng-container i18n="@@jobs.pager.title2">job executions</ng-container>
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-confirm #restartModal (onConfirmed)="restartJob()" i18n-title="@@jobs.modal.restart.title" title="Confirm restart the job execution"
             yes="Restart" i18n-yes="@@jobs.modal.restart.yes"
>
  <ng-container i18n="@@jobs.modal.restart.text1">This action will restart the steps failed of the job execution</ng-container>
  <strong>{{ selection?.name }} ({{ selection?.jobExecutionId }})</strong>
  <ng-container i18n="@@jobs.modal.restart.text2">.</ng-container><br />
  <ng-container i18n="@@modal.are_you_sure">Are you sure?</ng-container>
</app-confirm>

<app-confirm #stopModal (onConfirmed)="stopJob()" i18n-title="@@jobs.modal.stop.title" title="Confirm stop the job execution"
             yes="Stop" i18n-yes="@@jobs.modal.stop.yes"
>
  <ng-container i18n="@@jobs.modal.stop.text1">This action will stop the job execution</ng-container>
  <strong>{{ selection?.name }} ({{ selection?.jobExecutionId }})</strong>
  <ng-container i18n="@@jobs.modal.stop.text2">.</ng-container><br />
  <ng-container i18n="@@modal.are_you_sure">Are you sure?</ng-container>
</app-confirm>
