<clr-modal [(clrModalOpen)]="isOpen" *ngIf="streams" [clrModalClosable]="!isRunning">
  <h3 *ngIf="streams?.length === 1" class="modal-title" i18n="@@streams.modal.undeploy.confirm.title1">Confirm Undeploy Stream</h3>
  <h3 *ngIf="streams?.length > 1" class="modal-title" i18n="@@streams.modal.undeploy.confirm.title2">Confirm Undeploy Streams</h3>
  <div class="modal-body" *ngIf="streams.length === 1 && !isRunning">
    <ng-container i18n="@@streams.modal.undeploy.confirm.text1">This action will undeploy the stream</ng-container>&nbsp;
    <strong>{{ streams[0].name }}</strong><ng-container i18n="@@streams.modal.undeploy.confirm.text2">. Are you sure?</ng-container>
  </div>
  <div class="modal-body" *ngIf="streams?.length > 1 && !isRunning">
    <ng-container i18n="@@streams.modal.undeploy.confirm.text3">This action will undeploy the</ng-container>&nbsp;
    <strong>{{ streams.length }}&nbsp;<ng-container i18n="@@streams.modal.undeploy.confirm.text4">stream definitions</ng-container></strong>&nbsp;
    <ng-container i18n="@@streams.modal.undeploy.confirm.text5">listed below. Are you sure?</ng-container>
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="left" i18n="@@streams.modal.undeploy.col.name">Name</th>
          <th class="left" i18n="@@streams.modal.undeploy.col.definition">Definition</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stream of streams">
          <td class="left">
            <strong class="text-truncate" style="max-width: 230px">{{ stream.name }}</strong>
          </td>
          <td class="left">
            <span class="dsl-text dsl-truncate" style="max-width: 200px">
              <app-stream-dsl [dsl]="stream.dslText" [expandable]="false"></app-stream-dsl>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n="@@streams.modal.undeploy.undeploying">Undeploying stream(s) ...</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="unregister()" [disabled]="isRunning">
      <span *ngIf="streams.length === 1" i18n="@@streams.modal.undeploy.confirm.text6">Undeploy the stream</span>
      <span *ngIf="streams.length > 1" i18n="@@streams.modal.undeploy.confirm.text7">Undeploy the streams</span>
    </button>
  </div>
</clr-modal>
