<clr-modal [(clrModalOpen)]="isOpen" *ngIf="history" [clrModalClosable]="!isRunning">
  <h3 class="modal-title" i18n="@@streams.modal.rollback.confirm.title">Confirm stream rollback</h3>
  <div class="modal-body" *ngIf="!isRunning">
    <ng-container i18n="@@streams.modal.rollback.confirm.text1">This action will rollback the stream</ng-container>&nbsp;<strong>{{ history.stream }}</strong>&nbsp;
    <ng-container i18n="@@streams.modal.rollback.confirm.text2">to the version</ng-container>&nbsp;{{ history.version }}<ng-container i18n="@@streams.modal.rollback.confirm.text3">. Are you sure?</ng-container>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n="@@streams.modal.rollback.rollbacking">Rollback stream(s) ...</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning" i18n="@@modal.cancel">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="rollback()" [disabled]="isRunning" i18n="@@streams.modal.rollback.confirm">Rollback</button>
  </div>
</clr-modal>
