<h1 class="page-title">
  <span class="text-truncate">
    <ng-container i18n="@@tasks.detail.title">Task</ng-container>&nbsp;<strong *ngIf="task">{{ task.name }}</strong>
  </span>
</h1>

<div *ngIf="!loading">
  <div class="datagrid-action-bar">
    <button type="button" class="btn btn-sm btn-secondary" (click)="launch()" [appRole]="['ROLE_DEPLOY']" i18n="@@tasks.detail.launch">
      Launch task
    </button>
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="schedule()"
      [appRole]="['ROLE_SCHEDULE']"
      appFeature="schedules"
      i18n="@@tasks.detail.schedule"
    >
      Schedule
    </button>
    <button type="button" class="btn btn-sm btn-secondary" grafanaDashboardTask [task]="task" i18n="@@grafana.dashboard">Grafana Dashboard</button>
    <button type="button" class="btn btn-sm btn-outline-danger" (click)="destroy()" [appRole]="['ROLE_DESTROY']" i18n="@@tasks.detail.destroy">
      Destroy task
    </button>
    <button type="button" class="btn btn-sm btn-outline-danger" (click)="cleanup()" [appRole]="['ROLE_DESTROY']" i18n="@@tasks.detail.cleanup">
      Cleanup
    </button>
  </div>

  <div class="clr-row">
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card i18n-titleModal="@@tasks.detail.card.info.title" titleModal="Information" keyContext="task" name="{{ task.name }}" id="info">
        <ng-template>
          <div class="block card-block-keyvalue">
            <div *ngIf="task.description" class="row">
              <div class="key" i18n="@@tasks.detail.card.info.description">Description</div>
              <div class="value">{{ task.description }}</div>
            </div>
            <div class="row">
              <div class="key" i18n="@@tasks.detail.card.info.definition">Definition</div>
              <div class="value">
                <span class="dsl-text">{{ task.dslText }}</span>
              </div>
            </div>
            <div class="row">
              <div class="key" i18n="@@tasks.detail.card.info.status">Status</div>
              <div class="value">
                <span class="{{ task.labelStatusClass() }}">{{ task.status |i18n: 'task.status'}}</span>
              </div>
            </div>
            <div class="row">
              <div class="key" i18n="@@tasks.detail.card.info.application">Applications</div>
              <div class="value">
                <div *ngIf="!loadingApplications">
                  <div *ngFor="let app of applications">
                    <strong>{{ app.name }}</strong
                    >&nbsp;
                    <span class="label label-app {{ app.type }}">{{ app.origin }}</span>
                  </div>
                </div>
                <div *ngIf="loadingApplications">
                  <clr-spinner clrInline clrSmall></clr-spinner>
                  <ng-container i18n="@@tasks.detail.card.info.loading">Loading application(s)...</ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </app-view-card>
    </div>

    <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
      <app-view-card i18n-titleModal="@@tasks.detail.card.pipleline.title" titleModal="Show Data Pipeline" keyContext="task" name="{{ task.name }}" id="visualize">
        <ng-template>
          <app-task-flo-view [dsl]="task.dslText"></app-task-flo-view>
        </ng-template>
      </app-view-card>
    </div>

    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card i18n-titleModal="@@tasks.detail.card.last_exec.title" titleModal="Last execution" keyContext="task" name="{{ task.name }}" id="execution">
        <ng-template>
          <div class="block card-block-keyvalue lg-key">
            <div *ngIf="task.lastTaskExecution">
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.exec_id">Execution Id</div>
                <div class="value">{{ task.lastTaskExecution.executionId }}</div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.arguments">Arguments</div>
                <div class="value">
                  <div *ngIf="task.lastTaskExecution.getArgumentsToArray().length > 0">
                    <div *ngFor="let arg of task.lastTaskExecution.getArgumentsToArray()">
                      {{ arg[0] }}:
                      <strong>{{ arg[1] }}</strong>
                    </div>
                  </div>
                  <div *ngIf="task.lastTaskExecution.getArgumentsToArray().length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.external_exec_id">External Execution Id</div>
                <div class="value">
                  {{ task.lastTaskExecution.externalExecutionId || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.batch_job">Batch Job</div>
                <div class="value">
                  <clr-icon
                    *ngIf="task.lastTaskExecution.jobExecutionIds?.length > 0"
                    shape="success-standard"
                  ></clr-icon>
                  <clr-icon
                    *ngIf="task.lastTaskExecution.jobExecutionIds?.length === 0"
                    shape="times-circle"
                  ></clr-icon>
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.job_exec_ids">Job Execution Ids</div>
                <div class="value">
                  <a
                    [routerLink]="'/jobs/executions/' + jobExecutionId"
                    *ngFor="let jobExecutionId of task.lastTaskExecution.jobExecutionIds"
                  >
                    {{ jobExecutionId }}
                  </a>
                  <div *ngIf="task.lastTaskExecution.jobExecutionIds?.length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.start_time">Start Time</div>
                <div class="value">
                  {{ task.lastTaskExecution.startTime | datetime }}
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.end_time">End Time</div>
                <div class="value">
                  {{ task.lastTaskExecution.endTime | datetime }}
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.duration">Duration</div>
                <div class="value">
                  {{ task.lastTaskExecution.startTime | duration: task.lastTaskExecution.endTime }}
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.exit_code">Exit Code</div>
                <div class="value">
                  {{ task.lastTaskExecution.exitCode }}
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.exit_msg">Exit Message</div>
                <div class="value">
                  {{ task.lastTaskExecution.exitMessage || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.resoutce_url">Resource URL</div>
                <div class="value">
                  {{ task.lastTaskExecution.resourceUrl || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.app_props">Application Properties</div>
                <div class="value">
                  <div *ngIf="task.lastTaskExecution.getAppPropertiesToArray().length > 0">
                    <div *ngFor="let arg of task.lastTaskExecution.getAppPropertiesToArray()">
                      {{ arg.key }}:
                      <strong>{{ arg.value }}</strong>
                    </div>
                  </div>
                  <div *ngIf="task.lastTaskExecution.getAppPropertiesToArray().length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key" i18n="@@tasks.detail.card.last_exec.platform_props">Platform Properties</div>
                <div class="value">
                  <div *ngIf="task.lastTaskExecution.getDeploymentPropertiesToArray().length > 0">
                    <div *ngFor="let arg of task.lastTaskExecution.getDeploymentPropertiesToArray()">
                      {{ arg[0] }}:
                      <strong>{{ arg[1] }}</strong>
                    </div>
                  </div>
                  <div *ngIf="task.lastTaskExecution.getDeploymentPropertiesToArray().length === 0">N/A</div>
                </div>
              </div>
            </div>
            <div *ngIf="!task.lastTaskExecution" i18n="@@tasks.detail.card.last_exec.no_exec">No execution yet.</div>
          </div>
        </ng-template>
        <div class="card-footer" *ngIf="task.lastTaskExecution">
          <button class="btn btn-sm btn-secondary" (click)="navigateExecution(task.lastTaskExecution.executionId)" i18n="@@tasks.detail.card.last_exec.view">
            View task execution
          </button>
          <button
            class="btn btn-sm btn-secondary"
            *ngIf="hasLog(task.lastTaskExecution)"
            (click)="openLog(task.lastTaskExecution)"
            i18n="@@tasks.detail.card.last_exec.log"
          >
            View log
          </button>
        </div>
      </app-view-card>
    </div>

    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card i18n-titleModal="@@tasks.detail.card.execs.title" titleModal="Latest execution(s)" keyContext="task" name="{{ task.name }}" id="executions">
        <ng-template>
          <div *ngIf="!loadingExecution">
            <table class="table table-noborder table-compact" style="margin: 0" *ngIf="executions?.total > 0">
              <thead>
                <tr>
                  <th class="left" nowrap="" i18n="@@tasks.detail.card.execs.exec_id">Execution ID</th>
                  <th class="left" nowrap="" i18n="@@tasks.detail.card.execs.start_time">Start time</th>
                  <th class="left" nowrap="" i18n="@@tasks.detail.card.execs.end_time">End time</th>
                  <th class="left" nowrap="" i18n="@@tasks.detail.card.execs.duration">Duration</th>
                  <th class="left" nowrap="" i18n="@@tasks.detail.card.execs.exit_code">Exit code</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let execution of executions?.items">
                  <td class="left">
                    <a routerLink="/tasks-jobs/task-executions/{{ execution.executionId }}">{{
                      execution.executionId
                    }}</a>
                  </td>
                  <td class="left">{{ execution.startTime | datetime }}</td>
                  <td class="left">{{ execution.endTime | datetime }}</td>
                  <td class="left">{{ execution.startTime | duration: execution.endTime }}</td>
                  <td class="left">{{ execution.exitCode }}</td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="!executions?.total" i18n="@@tasks.detail.card.execs.no_exec">No execution yet.</div>
          </div>
          <div *ngIf="loadingExecution">
            <clr-spinner clrInline clrSmall></clr-spinner>
            <ng-container i18n="@@tasks.detail.card.execs.loading">Loading execution(s)...</ng-container>
          </div>
        </ng-template>
      </app-view-card>
    </div>

    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12" *ngIf="scheduleEnabled">
      <app-view-card i18n-titleModal="@@tasks.detail.card.schedule.title" titleModal="Schedule(s)" keyContext="task" name="{{ task.name }}" id="schedules">
        <ng-template>
          <div *ngIf="!loadingSchedules">
            <table class="table table-noborder table-compact" style="margin: 0" *ngIf="schedules?.total > 0">
              <thead>
                <tr>
                  <th class="left" nowrap="" i18n="@@tasks.detail.card.schedule.name">Name</th>
                  <th class="left" nowrap="" i18n="@@tasks.detail.card.schedule.platform">Platform</th>
                  <th class="left" nowrap="" i18n="@@tasks.detail.card.schedule.cron">Cron Expression</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let schedule of schedules?.items">
                  <td class="left">
                    <a routerLink="/tasks-jobs/schedules/{{ schedule.name }}/{{ schedule.platform }}">{{
                      schedule.name
                    }}</a>
                  </td>
                  <td class="left">{{ schedule.platform }}</td>
                  <td class="left">{{ schedule.cronExpression }}</td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="!schedules?.total" i18n="@@tasks.detail.card.schedule.no_schedule">No schedule yet.</div>
          </div>
          <div *ngIf="loadingSchedules">
            <clr-spinner clrInline clrSmall></clr-spinner>
            <ng-container i18n="@@tasks.detail.card.schedule.loading">Loading schedule(s)...</ng-container>
          </div>
        </ng-template>
      </app-view-card>
    </div>
  </div>
</div>

<div *ngIf="loading" style="padding: 1rem 0">
  <clr-spinner clrInline clrSmall></clr-spinner>
  <ng-container i18n="@@tasks.detail.loading">Loading task...</ng-container>
</div>

<app-task-destroy #destroyModal (onDestroyed)="back()"></app-task-destroy>
<app-task-execution-log #logModal></app-task-execution-log>
<app-task-cleanup #cleanupModal></app-task-cleanup>
