<clr-modal [(clrModalOpen)]="isOpen" *ngIf="tasks" [clrModalClosable]="!isRunning">
  <h3 *ngIf="tasks?.length === 1" class="modal-title" i18n="@@tasks.modal.clone.title1">Clone Task</h3>
  <h3 *ngIf="tasks?.length > 1" class="modal-title" i18n="@@tasks.modal.clone.title2">Clone Tasks</h3>
  <div class="modal-body" *ngIf="!isRunning && !loading">
    <form
      clrForm
      clrLayout="horizontal"
      (submit)="submit()"
      [formGroup]="form"
      clrLabelSize="4"
      style="padding: 0; margin: 0"
    >
      <div style="margin-bottom: 0">
        <ng-container i18n="@@tasks.modal.clone.text1">This action will create the following</ng-container>&nbsp;
        <strong i18n="@@tasks.modal.clone.text2">task(s)</strong>:
      </div>
      <div class="alert alert-danger" *ngIf="form?.hasError('uniqueTaskNames')">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text" i18n="@@tasks.modal.clone.form.name.error">Duplicate task name, please check input names.</div>
          </div>
        </div>
      </div>
      <div *ngFor="let task of tasks; let i = index" class="card" style="padding: 10px 0">
        <div class="card-block">
          <div class="clr-form-control clr-row" style="margin-top: 0; height: 42px">
            <label class="clr-control-label clr-col-12 clr-col-md-2">Definition:</label>
            <div class="clr-control-container form-control input-sm clr-col-md-10 clr-col-12">
              <span class="dsl-text dsl-truncate">{{ task.dslText }}</span>
            </div>
          </div>
          <clr-input-container style="margin-top: 0">
            <label class="clr-col-12 clr-col-md-2" i18n="@@tasks.modal.clone.form.name">Name</label>
            <input
              clrInput
              name="name"
              id="name"
              formControlName="{{ task.name }}"
              [dataflowFocus]="true"
              class="clr-col-12 clr-col-md-10"
              style="width: 100%"
            />
            <clr-control-error *clrIfError="'required'" i18n="@@tasks.modal.clone.form.name.error.required"> Task name is required. </clr-control-error>
            <clr-control-error *clrIfError="'pattern'" i18n="@@tasks.modal.clone.form.name.error.pattern">
              Invalid task name (no space or special charaters).
            </clr-control-error>
            <clr-control-error *clrIfError="'maxLength'" i18n="@@tasks.modal.clone.form.name.error.length">
              Task name must be less than 255 characters long.
            </clr-control-error>
            <clr-control-error *clrIfError="'uniqueTaskName'" i18n="@@tasks.modal.clone.form.name.error.unique"> Task name is already taken. </clr-control-error>
          </clr-input-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n="@@tasks.modal.clone.loading">Loading...</ng-container>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n="@@tasks.modal.clone.cloning">Cloning task(s)...</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning" i18n="@@modal.cancel">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="isRunning">
      <span *ngIf="tasks.length === 1" i18n="@@tasks.modal.clone.submit1">Clone the task</span>
      <span *ngIf="tasks.length > 1" i18n="@@tasks.modal.clone.submit2">Clone the tasks</span>
    </button>
  </div>
</clr-modal>
