<clr-modal [(clrModalOpen)]="isOpen" *ngIf="schedules" [clrModalClosable]="!isRunning">
  <h3 *ngIf="schedules?.length === 1" class="modal-title" i18n="@@schedules.modal.delete.title1">Confirm Delete Schedule</h3>
  <h3 *ngIf="schedules?.length > 1" class="modal-title" i18n="@@schedules.modal.delete.title2">Confirm Delete Schedules</h3>
  <div class="modal-body" *ngIf="schedules.length === 1 && !isRunning">
    <ng-container i18n="@@schedules.modal.delete.text1">This action will delete the schedule</ng-container>
    <u><strong>{{ schedules[0].name }}</strong></u>
    <ng-container i18n="@@schedules.modal.delete.text2">. Are you sure?</ng-container>
  </div>
  <div class="modal-body" *ngIf="schedules?.length > 1 && !isRunning">
    <ng-container i18n="@@schedules.modal.delete.text3">This action will delete the</ng-container>
    <u><strong>
      {{ schedules.length }}&nbsp;<ng-container i18n="@@schedules.modal.delete.text4">schedule(s)</ng-container>
    </strong></u>
    <ng-container i18n="@@schedules.modal.delete.text5">listed below.</ng-container><br />
    <ng-container i18n="@@modal.are_you_sure">Are you sure?</ng-container>
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="left" i18n="@@schedules.modal.delete.col.name">Name</th>
          <th class="left" i18n="@@schedules.modal.delete.col.task_name">Task name</th>
          <th class="left" i18n="@@schedules.modal.delete.col.platform">Platform</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules">
          <td class="left">
            <strong>{{ schedule.name }}</strong>
          </td>
          <td class="left">{{ schedule.taskName }}</td>
          <td class="left">{{ schedule.platform }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n="@@schedules.modal.delete.deleting">Deleting schedule(s) ...</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning" i18n="@@modal.cancel">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="destroy()" [disabled]="isRunning">
      <span *ngIf="schedules.length === 1" i18n="@@schedules.modal.delete.submit1">Delete the schedule</span>
      <span *ngIf="schedules.length > 1" i18n="@@schedules.modal.delete.submit2">Delete the schedules</span>
    </button>
  </div>
</clr-modal>
