<h1 class="page-title-actions">
  <ng-container i18n="@@tasks.title1">Tasks</ng-container>
  <span class="actions">
    <button type="button" class="btn btn-sm btn-primary" (click)="createTask()" [appRole]="['ROLE_CREATE']" i18n="@@tasks.create">
      Create task
    </button>
    <button type="button" class="btn btn-sm btn-secondary" grafanaDashboardTasks i18n="@@grafana.dashboard">Grafana Dashboard</button>
    <button type="button" class="btn btn-sm btn-secondary" wavefrontDashboardTasks i18n="@@wavefront.dashboard">Wavefront Dashboard</button>
  </span>
</h1>

<clr-datagrid
  (clrDgRefresh)="refresh($event)"
  [clrDgLoading]="loading"
  [(clrDgSelected)]="!grouped ? null : selected"
  *ngIf="isInit"
  #datagrid
>
  <clr-dg-action-bar *ngIf="grouped">
    <button type="button" class="btn btn-sm btn-secondary" (click)="setMode(false)">Cancel</button>
    <button
      type="button"
      [disabled]="selected?.length === 0"
      class="btn btn-sm btn-secondary"
      (click)="scheduleTasks(selected)"
      [appRole]="['ROLE_SCHEDULE']"
      appFeature="schedules"
      i18n="@@tasks.list.schedule"
    >
      Schedule task(s)
    </button>
    <button
      type="button"
      [disabled]="selected?.length === 0"
      class="btn btn-sm btn-outline-danger"
      (click)="destroyTasks(selected)"
      [appRole]="['ROLE_DESTROY']"
      i18n="@@tasks.list.destroy"
    >
      Destroy task(s)
    </button>
    <button
      type="button"
      [disabled]="selected?.length === 0"
      class="btn btn-sm btn-secondary"
      (click)="cloneTasks(selected)"
      [appRole]="['ROLE_CREATE']"
      i18n="@@tasks.list.clone"
    >
      Clone task(s)
    </button>
  </clr-dg-action-bar>
  <clr-dg-action-bar *ngIf="!grouped">
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="setMode(true)"
      [appRole]="['ROLE_DESTROY', 'ROLE_SCHEDULE']"
      i18n="@@tasks.list.group"
    >
      Group Actions
    </button>
    <button type="button" class="btn btn-sm btn-secondary" (click)="refresh(state)" i18n="@@tasks.list.refresh">Refresh</button>
  </clr-dg-action-bar>
  <clr-dg-column
    [clrDgField]="'taskName'"
    [clrDgSortOrder]="context.by === 'taskName' ? (context.reverse ? -1 : 1) : 0"
    (clrDgColumnResize)="updateContext('sizeName', $event)"
    [style.width.px]="context.sizeName | datagridcolumn: datagrid:contextName:15 | async"
    [clrFilterValue]="context.taskName"
  >
    <ng-container i18n="@@tasks.list.col.name"> Name </ng-container>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeDescription', $event)"
    [style.width.px]="context.sizeDescription | datagridcolumn: datagrid:contextName:15 | async"
  >
    <ng-container i18n="@@tasks.list.col.description"> Description </ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    [clrDgField]="'dslText'"
    [clrDgSortOrder]="context.by === 'dslText' ? (context.reverse ? -1 : 1) : 0"
    (clrDgColumnResize)="updateContext('sizeDsl', $event)"
    [style.width.px]="context.sizeDsl | datagridcolumn: datagrid:contextName:15 | async"
  >
    <ng-container i18n="@@tasks.list.col.definition"> Definition </ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeStatus', $event)"
    [style.width.px]="context.sizeStatus | datagridcolumn: datagrid:contextName:15 | async"
  >
    <ng-container i18n="@@tasks.list.col.status"> Status </ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-row *ngFor="let task of page?.items" [clrDgItem]="task" [clrDgSelectable]="!task.composedTaskElement">
    <clr-dg-cell>
      <a class="text-truncate" routerLink="/tasks-jobs/tasks/{{ task.name }}">
        {{ task.name }}
      </a>
    </clr-dg-cell>
    <clr-dg-cell
      ><span class="text-truncate">{{ task.description }}</span></clr-dg-cell
    >
    <clr-dg-cell
      ><span class="dsl-text dsl-truncate">{{ task.dslText }}</span></clr-dg-cell
    >
    <clr-dg-cell
      ><span class="{{ task.labelStatusClass() }}">{{ task.status }}</span></clr-dg-cell
    >
    <clr-dg-action-overflow *ngIf="!grouped">
      <button class="action-item" (click)="details(task)" i18n="@@tasks.list.row.detail">Details</button>
      <button class="action-item" (click)="launch(task)" [appRole]="['ROLE_DEPLOY']" i18n="@@tasks.list.row.launch">Launch</button>
      <button
        class="action-item"
        (click)="schedule(task)"
        [appRole]="['ROLE_SCHEDULE']"
        appFeature="schedules"
        [disabled]="task.composedTaskElement"
        i18n="@@tasks.list.row.schedule"
      >
        Schedule
      </button>
      <button
        class="action-item"
        (click)="destroyTasks([task])"
        [appRole]="['ROLE_DESTROY']"
        [disabled]="task.composedTaskElement"
        i18n="@@tasks.list.row.destroy"
      >
        Destroy
      </button>
      <button
        class="action-item"
        (click)="cloneTasks([task])"
        [appRole]="['ROLE_CREATE']"
        [disabled]="task.composedTaskElement"
        i18n="@@tasks.list.row.clone"
      >
        Clone
      </button>
      <button
        class="action-item"
        (click)="cleanup(task)"
        [appRole]="['ROLE_DESTROY']"
        [disabled]="task.composedTaskElement"
        i18n="@@tasks.list.row.cleanup"
      >
        Cleanup
      </button>
      <button class="action-item" grafanaDashboardTask [task]="task" i18n="@@grafana.dashboard">Grafana Dashboard</button>
      <button class="action-item" wavefrontDashboardTask [task]="task" i18n="@@wavefront.dashboard">Wavefront Dashboard</button>
    </clr-dg-action-overflow>
  </clr-dg-row>
  <clr-dg-placeholder i18n="@@tasks.list.no_results">No results found.</clr-dg-placeholder>
  <clr-dg-footer>
    <clr-dg-pagination
      #pagination
      [clrDgTotalItems]="page?.total"
      [clrDgPageSize]="context.size"
      [clrDgPage]="context.current"
    >
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
        <ng-container i18n="@@tasks.title1">Tasks</ng-container>&nbsp;<ng-container i18n="@@pater.per">per page</ng-container>
      </clr-dg-page-size>
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ page?.total }}&nbsp;
      <ng-container i18n="@@tasks.title2">tasks</ng-container>
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-task-destroy #destroyModal (onDestroyed)="refresh(state)"></app-task-destroy>
<app-task-clone #cloneModal (onCloned)="refresh(state)"></app-task-clone>
<app-task-cleanup #cleanupModal (onCleaned)="refresh(state)"></app-task-cleanup>
