<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="!isRunning" clrModalSize="lg">
  <h3 class="modal-title" i18n="@@apps.modal.version.manage.title">Manage versions</h3>
  <div class="modal-body" *ngIf="versions?.length > 1 && !isRunning && !loading">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="left">&nbsp;</th>
          <th class="left" i18n="@@apps.modal.version.col.name">Name</th>
          <th class="left" i18n="@@apps.modal.version.col.type">Type</th>
          <th class="left">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of versions">
          <td class="left">
            <clr-icon *ngIf="app.defaultVersion" shape="star" class="is-solid"></clr-icon>
          </td>
          <td class="left">
            <span class="label">{{ app.version }}</span>
          </td>
          <td class="left">
            <span style="word-break: break-all">
              {{ app.uri }}
            </span>
          </td>
          <td nowrap="">
            <button type="button" class="btn btn-sm btn-secondary" (click)="unregisterConfirm(app)" i18n="@@apps.modal.version.manage.unregister">Unregister</button>
            <button
              type="button"
              [disabled]="app.defaultVersion"
              (click)="makeDefaultConfirm(app)"
              class="btn btn-sm btn-secondary"
              i18n="@@apps.modal.version.manage.set_default"
            >
              Set default
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="loading">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n="@@apps.modal.version.loading">Loading versions(s) ...</ng-container>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n="@@apps.modal.version.unregistering">Unregistering application(s) ...</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" [disabled]="isRunning" (click)="isOpen = false" i18n="@@modal.cancel">Cancel</button>
  </div>
</clr-modal>

<app-confirm #unregisterModal (onConfirmed)="unregister()" i18n-title="@@apps.modal.version.unregister.confirm.title" title="Confirm unregister version"
             yes="Unregister" i18n-yes="@@apps.modal.version.unregister.confirm.yes"
>
  <ng-container i18n="@@apps.modal.version.unregister.confirm.text1">This action will unregister the</ng-container>&nbsp;
  <strong><ng-container i18n="@@apps.modal.version.unregister.confirm.text2">version</ng-container>&nbsp;{{ selected?.version }}</strong>&nbsp;
  <ng-container i18n="@@apps.modal.version.unregister.confirm.text3">of the application</ng-container>
  <strong>{{ selected?.name }}</strong>&nbsp;<span class="{{ selected?.labelTypeClass() }}">{{ selected?.type }}</span>
  <ng-container i18n="@@apps.modal.version.unregister.confirm.text4">.</ng-container>
  <br />
  <ng-container i18n="@@modal.are_you_sure">Are you sure?</ng-container>
</app-confirm>

<app-confirm #makeDefaultModal (onConfirmed)="makeDefault()" i18n-title="@@apps.modal.version.default.confirm.title" title="Confirm make default version"
             yes="Make default" i18n-yes="@@apps.modal.version.default.confirm.yes"
>
  <ng-container i18n="@@apps.modal.version.default.confirm.text1">This action will make the version</ng-container>&nbsp;
  <strong>{{ selected?.version }}</strong>&nbsp;<ng-container i18n="@@apps.modal.version.default.confirm.text2">as the default version for the application</ng-container>
  <strong>{{ selected?.name }}</strong>&nbsp; <span class="{{ selected?.labelTypeClass() }}">{{ selected?.type }}</span>
  <ng-container i18n="@@apps.modal.version.default.confirm.text3">.</ng-container>
  <br />
  <ng-container i18n="@@modal.are_you_sure">Are you sure?</ng-container>
</app-confirm>
