<form clrForm>
  <clr-modal [(clrModalOpen)]="isOpen" clrModalSize="xs">
    <h3 class="modal-title" i18n="@@app.setting">Settings</h3>
    <div class="modal-body">
      <clr-select-container *ngIf="themeActive">
        <label i18n="@@app.setting.theme">Theme</label>
        <select
          clrSelect
          name="theme"
          [value]="themeActive.value"
          (change)="themeActiveSettingOnChange($event.target.value)"
        >
          <option value="default" i18n="@@app.setting.theme.default">default</option>
          <option value="dark" i18n="@@app.setting.theme.dark">dark</option>
        </select>
        <clr-control-helper i18n="@@app.setting.theme.description">
          You can choose between dark and default theme
        </clr-control-helper>
      </clr-select-container>

      <clr-select-container *ngIf="resultsPerPage">
        <label i18n="@@app.setting.results">Results</label>
        <select
          clrSelect
          name="theme"
          [value]="resultsPerPage.value"
          (change)="resultPerPageSettingOnChange($event.target.value)"
        >
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <clr-control-helper i18n="@@app.setting.results.description">
          You can choose the number of results per page.
        </clr-control-helper>
      </clr-select-container>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="isOpen = false" i18n="@@modal.close">Close</button>
    </div>
  </clr-modal>
</form>
