<clr-modal [(clrModalOpen)]="isOpen" *ngIf="tasks" [clrModalClosable]="!isRunning">
  <h3 *ngIf="tasks?.length === 1" class="modal-title" i18n="@@tasks.modal.destroy.title1">Confirm Destroy Task</h3>
  <h3 *ngIf="tasks?.length > 1" class="modal-title" i18n="@@tasks.modal.destroy.title2">Confirm Destroy Tasks</h3>
  <div class="modal-body" *ngIf="tasks.length === 1 && !isRunning">
    <ng-container i18n="@@tasks.modal.destroy.text1">This action will destroy and delete the task</ng-container>&nbsp;
    <u><strong>{{ tasks[0].name }}</strong></u><ng-container i18n="@@tasks.modal.destroy.text2">. Are you sure?</ng-container>
  </div>
  <div class="modal-body" *ngIf="tasks?.length > 1 && !isRunning">
    <ng-container i18n="@@tasks.modal.destroy.text3">This action will destroy the</ng-container>&nbsp;
    <u><strong>
      {{ tasks.length }}&nbsp;
      <ng-container *ngIf="tasks.length <= 1" i18n="@@tasks.modal.destroy.text4">task</ng-container>
      <ng-container *ngIf="tasks.length > 1" i18n="@@tasks.modal.destroy.text5">tasks</ng-container>
    </strong></u>&nbsp;
    <ng-container i18n="@@tasks.modal.destroy.text6">listed below.</ng-container>
    <br /><ng-container i18n="@@tasks.modal.destroy.text7">Are you sure?</ng-container>
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="left" i18n="@@tasks.modal.destroy.col.name">Name</th>
          <th class="left" i18n="@@tasks.modal.destroy.col.type">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td class="left">
            <strong class="text-truncate" style="max-width: 230px"
              ><strong>{{ task.name }}</strong></strong
            >
          </td>
          <td class="left">
            <span class="dsl-text dsl-truncate" style="max-width: 200px">
              {{ task.dslText }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n="@@tasks.modal.destroy.destroying">Destroying task(s) ...</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning" i18n="@@modal.cancel">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="destroy()" [disabled]="isRunning">
      <span *ngIf="tasks.length === 1" i18n="@@tasks.modal.destroy.submit1">Destroy the task</span>
      <span *ngIf="tasks.length > 1" i18n="@@tasks.modal.destroy.submit2">Destroy the tasks</span>
    </button>
  </div>
</clr-modal>
